<page-header icono="user" nombrePagina="Personas: Agregar" [mostrarBtnAgregar]="false" />

<div class="flex min-h-full flex-col justify-center px-6 my-10 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="persona" (submit)="onSubmit()" autocomplete="off">

      <div class="bg-slate-100 shadow-2xl border border-slate-300 dark:border-slate-900 dark:bg-slate-700 px-6 pt-3 pb-6 rounded-xl space-y-6 mb-8">
        <div>
          <label for="nombres" class="form-label">Nombres<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="nombres" id="nombres" name="nombres" type="text" (focusout)="trimFormValue('nombre')">
          <app-form-errors [control]="persona.controls.nombres"/>
        </div>

        <div>
          <label for="apellidos" class="form-label">Apellidos<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="apellidos" id="apellidos" name="apellidos" type="text" (focusout)="trimFormValue('nombre')">
          <app-form-errors [control]="persona.controls.apellidos"/>
        </div>

        <div>
          <label for="empresas" class="form-label">Empresas<span class="text-red-600 text-xl">*</span></label>
          <select name="empresas" id="empresas" formControlName="empresaCod">
            <option *ngFor="let item of listEmpresas" [ngValue]="item.codEmpresa">{{item.nombre}}</option>
          </select>
          <app-form-errors [control]="persona.controls.empresaCod"/>
        </div>

        <div>
          <label for="tieneVisa" class="form-label">Visa</label>
          <input formControlName="tieneVisa" id="tieneVisa" name="tieneVisa" type="checkbox">
        </div>
      </div>

      <div class="flex grid-cols-2 gap-x-2">
        <button type="submit" class="btn-p hover:-translate-y-1 transition-all" [disabled]="enviandoDatos">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button type="button" class="btn-d hover:-translate-y-1 transition-all" routerLink="..">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>