
<div class="block sm:flex sm:justify-center p-5">
  
  <div class="pt-28 text-center md:mr-16">
    <i class="fa-regular fa-circle-user text-9xl mb-5"></i>
    <h1>Login</h1>
  </div>
  
  <form class="space-y-4 w-full sm:max-w-sm pt-20 md:pl-10" [formGroup]="usuario" (submit)="onSubmit()" autocomplete="off">
    <div>
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" id="email" name="email" type="email">
      <app-form-errors [control]="usuario.controls.email"/>
    </div>

    <div>
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" id="password" name="password" type="password">
      <app-form-errors [control]="usuario.controls.password"/>
    </div>

    <div class="flex grid-cols-2 gap-x-2">
      <button type="submit" class="btn-p enabled:hover:-translate-y-1 transition-all" [disabled]="enviandoDatos || usuario.invalid">
        <i class="fa-solid fa-check"></i> Aceptar
      </button>
    </div>
  </form>
</div>