<page-header icono="city" nombrePagina="Empresas: editar" [mostrarBtnAgregar]="false" />

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="empresa" (submit)="onSubmit()" autocomplete="off">
      <div>
        <label for="nombre" class="form-label">Nombre</label>
        <input formControlName="nombre" id="nombre" name="nombre" type="text">
        <app-form-errors [control]="empresa.controls.nombre"/>
      </div>

      <div>
        <label for="direccion" class="form-label">Direccion</label>
        <input formControlName="direccion" id="direccion" name="direccion" type="text">
        <app-form-errors [control]="empresa.controls.direccion"/>
      </div>

      <div>
        <label for="telefono" class="form-label">Telefono</label>
        <input formControlName="telefono" id="telefono" name="telefono" type="text">
        <app-form-errors [control]="empresa.controls.telefono"/>
      </div>

      <div class="flex grid-cols-2 gap-x-2">
        <button type="submit" class="btn-p" [disabled]="enviandoDatos || empresa.invalid">Agregar</button>
        <button type="button" class="btn-d" routerLink="../..">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
