<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a routerLink="" class="text-gray-400 hover:text-gray-100 hover:scale-110 transition-transform">
            <i class="fas fa-home fa-xl"></i>
          </a>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a *ngIf="isLoged()" routerLink="/empresas" class="navbar-link hover:-translate-y-1 transition-all">Empresas</a>
            <a *ngIf="isLoged()" routerLink="/personas" class="navbar-link hover:-translate-y-1 transition-all">Personas</a>
            <a *ngIf="isLoged()" routerLink="/usuarios" class="navbar-link hover:-translate-y-1 transition-all">usuarios</a>
            <a *ngIf="isLoged()" routerLink="/formulario-base" class="navbar-link hover:-translate-y-1 transition-all">Formulario</a>
            <a routerLink="/about" class="navbar-link hover:-translate-y-1 transition-all">About</a>
          </div>
        </div>
      </div>

      <i class="fas text-gray-200 fa-lg fa-sun mr-2"></i>
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" [formControl]="isDark" >
        <div
          class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
        </div>
      </label>
      <i class="fas text-gray-200 fa-lg fa-moon ml-2"></i>
      <div class="flex ml-4 gap-x-2">
        <a *ngIf="!isLoged()" class="btn btn-w" routerLink="login">Register</a>
        <a *ngIf="!isLoged()" class="btn btn-w" routerLink="login">Login</a>
        <button *ngIf="isLoged()" class="btn-w" routerLink="login" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</nav>