<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a routerLink="" class="text-gray-400 hover:text-gray-100 hover:scale-110 transition-transform">
            <i class="fas fa-home fa-xl"></i>
          </a>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a routerLink="/empresas" class="navbar-link">Empresas</a>
            <a routerLink="/personas" class="navbar-link">Personas</a>
            <a routerLink="/usuarios" class="navbar-link">usuarios</a>
            <a routerLink="/formulario-base" class="navbar-link">Formulario</a>
            <a routerLink="/about" class="navbar-link">About</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>