<page-header icono="user" nombrePagina="Personas: editar" [mostrarBtnAgregar]="false" />


<div class="flex min-h-full flex-col justify-center px-6 lg:px-8 mb-10">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <form class="space-y-6" [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
    
    <div class="card">
      <div>
        <label for="nombres" class="form-label">Nombres</label>
        <input formControlName="nombres" id="nombres" name="nombres" type="text">
        <app-form-errors [control]="form.controls.nombres"/>
      </div>
  
      <div>
        <label for="apellidos" class="form-label">Apellidos</label>
        <input formControlName="apellidos" id="apellidos" name="apellidos" type="text">
        <app-form-errors [control]="form.controls.apellidos"/>
      </div>
  
      <div>
        <label for="empresas" class="form-label">Empresas:</label>
        <select name="empresas" id="empresas" formControlName="empresaCod">
          <option *ngFor="let item of listEmpresas" [ngValue]="item.codEmpresa">{{item.nombre}}</option>
        </select>
        <app-form-errors [control]="form.controls.empresaCod"/>
      </div>
      
      <div>
        <label for="tieneVisa" class="form-label">Visa</label>
        <input formControlName="tieneVisa" id="tieneVisa" name="tieneVisa" type="checkbox">
      </div>      
    </div>

    <div class="flex grid-cols-2 gap-x-2">
      <button type="submit" class="btn-p hover:-translate-y-1 transition-all" [disabled]="enviandoDatos || form.invalid">
        <i class="fa-solid fa-arrows-rotate"></i> Actualizar
      </button>
      <button type="button" class="btn-d hover:-translate-y-1 transition-all" routerLink="../..">
        <i class="fas fa-times"></i> Cancelar
      </button>
    </div>
  </form>
</div>