<div class="w-full mt-10">
  <div class="flex w-auto md:w-96 mx-auto card shadow-none px-2 py-2">
    <input [formControl]="pokemon" class="w-auto md:w-96" type="text" (keyup.enter)="validarPokemon()"><i
      class="fa-solid fa-magnifying-glass my-auto ml-1 text-2xl"></i>
  </div>
</div>

<div class="space-y-5 mt-10 mb-10 ml-auto border-black">

  <div>
    <div *ngIf="listPokemon.previous != ''">
      <button *ngIf="listPokemon.previous != null" (click)="cambiarPagina(listPokemon.previous)"
        class="bg-transparent px-2 py-1 border-none"><i class="fa-solid fa-angle-up text-3xl"></i>
      </button>
    </div>
  </div>

  <div (click)="seleccionarPokemon(item.url)" *ngFor="let item of listPokemon.results">
    <div
      class="card py-0 px-0 flex shadow-none mb-0 w-auto md:w-96 hover:translate-x-2 transition-all hover:cursor-pointer">
      <img class="bg-red-500 px-3 pt-2 pb-1 rounded-lg" src="https://art.pixilart.com/sr2a947c8f967b8.png" width="60">
      <div class="my-auto ml-5 font-pixel text-xl">{{item.name}}</div>
    </div>
  </div>

  <div>
    <div *ngIf="listPokemon.next != ''">
      <button *ngIf="listPokemon.next != null" (click)="cambiarPagina(listPokemon.next)"
        class="bg-transparent px-2 py-1 border-none"><i class="fa-solid fa-angle-down text-3xl"></i>
      </button>
    </div>
  </div>

</div>