<table class="mt-20">
  <tr class="bg-violet-800 bg-opacity-40 text-base">
    <th class="p-3">codPersona</th>
    <th class="p-3">Nombres</th>
    <th class="p-3">Apellidos</th>
    <th class="p-3">codigo empresa</th>
    <th class="p-3">direcciones</th>
    <th class="p-3 text-center">Visa</th>
    <th class="p-3 text-center">Activo</th>
  </tr>
  <tr *ngFor="let item of listPersonas" class="even:bg-slate-100 border-slate-700">
    <td class="pl-3">{{item.codPersona}}</td>
    <td class="pl-3">{{item.nombres}}</td>
    <td class="pl-3">{{item.apellidos}}</td>
    <td class="pl-3">{{item.empresaCod}}</td>
    <td class="pl-3">{{item.direcciones}}</td>
    <td class="text-center p-3">
      <i class="fas fa-circle fa-lg" [ngClass]="item.tieneVisa ? 'text-green-500' : 'text-red-500'"></i>
    </td>
    <td class="text-center p-3">
      <i class="fas fa-circle fa-lg" [ngClass]="item.activo ? 'text-green-500' : 'text-red-500'"></i>
    </td>
  </tr>
</table>
