<div class="h-screen flex items-center justify-center w-screen">
  <div class="rounded-md shadow-md border border-gray-400 p-10">
    <div class="mb-5">
      <label class="block">Nombres</label>
      <input type="text">
    </div>

    <div class="mb-5">
      <label class="block">Apellidos</label>
      <input type="text">
    </div>

    <div class="mb-5">
      <button
        class="border border-blue-500 text-center w-full py-2 hover:bg-blue-500 hover:text-white transition-colors font-bold"
        (click)="confirmarFormulario()"
        type="button">Confirmar</button>
    </div>

    <div *ngIf="mostrarContenido">
      <p>El contenido</p>
    </div>

    <div class="mb-5">
      <ol class="text-sm">
        <li *ngFor="let item of personas">Nombres: <b class="font-bold">{{item.nombres}}</b> Apellidos: <b class="font-bold">{{item.apellidos}}</b></li>
      </ol>
    </div>

    <div class="mb-5">
      <table class="w-full border border-gray-600">
        <tr class="bg-gray-200">
          <th class="text-left">Nombres</th>
          <th class="text-left">Apellidos</th>
        </tr>
        <tr *ngFor="let persona of personas" class="border-t border-gray-600 hover:bg-gray-100">
          <td>{{persona.nombres}}</td>
          <td>{{persona.apellidos}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>