<div class="w-full" *ngIf="data != null">
  <div class="card shadow-none text-center py-0 px-6 bg-red-500 dark:bg-red-500 border-4 border-slate-800">

    <div class="px-3 py-2 bg-red-400">
      LV:{{data.base_experience}} {{data.name}}

      <div class="bg-white">

        <div class="lg:flex">

          <!-- imagen y tipos -->
          <div class="lg:w-1/3">
            <div class="h-60 flex">
              <img class="m-auto scale-150"
                src="https://github.com/PokeAPI/sprites/blob/master/sprites/pokemon/other/showdown/shiny/{{data.id}}.gif?raw=true">
            </div>

            <div class="flex flex-row justify-center items-center space-x-4 h-16">
              <div *ngFor="let item of data.types" class="card mb-0 w-24 px-3 py-2 {{obtenerColorTipo(item.type.name)}}">{{item.type.name}}</div>
            </div>
          </div>

          <!-- estadisticas -->
          <div class="flex flex-col lg:w-2/3 py-5">
            <div class="h-1/6 flex flex-row" *ngFor="let stat of data.stats">
              <div class="flex items-center w-56 pl-5">
                {{stat.stat.name}}
              </div>

              <div class="w-full flex items-center pr-20">
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                  <div [style.width.%]="(stat.base_stat * 100) / 255"
                    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-md">
                    {{stat.base_stat}}</div>
                </div>
              </div>
            </div>
  
          </div>
        </div>

        <!-- habilidades -->
        <div class="border">
          habilidades
        </div>
      </div>

      <!-- <div class="pt-6 pb-2 bg-white text-lg dark:text-slate-50 dark:bg-slate-700">

        <div class="inline-flex w-full">

          <div class="my-auto">
            <img class="ml-5"
              src="https://github.com/PokeAPI/sprites/blob/master/sprites/pokemon/other/showdown/shiny/{{data.id}}.gif?raw=true"
              width="230">

            <div class="inline-flex justify-center w-full space-x-5 pt-10">
              <ng-container *ngFor="let item of data.types">
                <div class="card px-3 py-2 {{obtenerColorTipo(item.type.name)}}">{{item.type.name}}</div>
              </ng-container>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-4 w-full mx-10">
            <div class="card flex py-2 px-3 text-left" *ngFor="let stat of data.stats">
              <div class="grid grid-cols-2">
                <div>{{stat.stat.name}}</div>

                <div class="w-40 bg-gray-200 rounded-full dark:bg-gray-700">
                  <div [style.width.%]="stat.base_stat"
                    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-md">
                    {{stat.base_stat}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="ml-5 flex space-x-5 mt-10">
          <div class="card py-0 m-0 shadow-none">
            <p>Hability</p>
          </div>
          <ng-container *ngFor="let item of data.abilities">
            <div (click)="mostrarHabilidad(item.ability.url)" class="card py-0 m-0 shadow-none">
              <div>{{item.ability.name}}</div>
            </div>
          </ng-container>
        </div>

        <div class="card p-0 ml-5 mt-3 mr-5">
          <div *ngFor="let i of habPokemon.effect_entries">
            <div *ngIf="i.language.name == 'en'" class="text-left ml-2">{{i.effect}}</div>
          </div>
        </div>

      </div> -->

    </div>

  </div>

</div>