<page-header icono="city" nombrePagina="Empresas: Agregar" [mostrarBtnAgregar]="false" />

<div class="flex min-h-full flex-col justify-center px-6 my-10 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
      
      <div class="card">
        <div>
          <label for="nombre" class="form-label">Nombre<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="nombre" id="nombre" name="nombre" type="text" (focusout)="trimFormValue('nombre')">
          <app-form-errors [control]="form.controls.nombre" />
        </div>

        <div>
          <label for="direccion" class="form-label">Direccion<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="direccion" id="direccion" name="direccion" type="text" (focusout)="trimFormValue('direccion')">
          <app-form-errors [control]="form.controls.direccion" />
        </div>

        <div>
          <label for="telefono" class="form-label">Telefono<span class="text-red-600 text-xl">*</span></label>
          <div class="flex">
            <select formControlName="codigoPais" class="w-24 mr-3">
              <option>+502</option>
            </select>
            <input formControlName="telefono" id="telefono" name="telefono" type="text" (focusout)="trimFormValue('telefono')">
          </div>
          <app-form-errors [control]="form.controls.telefono" />
        </div>
      </div>

      <div class="flex grid-cols-2 gap-x-2">
        <button type="submit" [disabled]="enviandoDatos" class="btn-p hover:-translate-y-1 transition-all">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button type="button" class="btn-d hover:-translate-y-1 transition-all" routerLink="..">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>