<page-header icono="users" nombrePagina="Usuarios" />

<form [formGroup]="filtros" (submit)="cargar(1, filtros.controls.porPagina.value!)" autocomplete="off">
  <div class="sm:flex sm:flex-row sm:space-x-4 mx-4 mb-7 ml-5">
    <div class="w-full md:w-72">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" id="email" name="email" type="text">
    </div>
    <div class="w-full md:w-72">
      <label for="activo" class="form-label">Activo</label>
      <select formControlName="activo" name="activo" id="activo">
        <option [ngValue]="null">Todos</option>
        <option [ngValue]="true">Si</option>
        <option [ngValue]="false">No</option>
      </select>
    </div>

    <div class="w-32">
      <label for="porPagina" class="form-label">por pagina</label>
      <input class=" remove-arrow" formControlName="porPagina" id="porPagina" name="porPagina" type="number">
    </div>

    <div>
      <label for="direccion" class="form-label">&nbsp;</label>
      <button type="submit" class="btn-p">Filtrar</button>
    </div>
  </div>
</form>

<div class="rounded overflow-hidden w-auto overflow-x-scroll m-4 md:overflow-x-auto">
  <table>
    <tr class="bg-violet-800 bg-opacity-40 text-base">
      <th class="p-3">Codigo</th>
      <th class="p-3">Email</th>
      <th class="p-3">Password</th>
      <th class="p-3">Tipo Rol</th>
      <th class="p-3 text-center">Activo</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of pgUsuarios.items" class="even:bg-slate-200 odd:bg-slate-50 border-slate-700 dark:even:bg-slate-800 dark:odd:bg-slate-700">
      <td class="pl-3">{{item.codUsuario}}</td>
      <td class="pl-3">{{item.email}}</td>
      <td class="pl-3">******</td>
      <td class="pl-3">{{item.rol?.tipo}}</td>
      <td class="text-center p-3">
        <i class="fas fa-circle fa-lg" [ngClass]="item.activo ? 'text-green-500' : 'text-red-500'"></i>
      </td>
      <td>
        <div class="flex flex-col md:flex-row md:space-x-3 space-y-1 md:space-y-0 my-2 mr-2 md:mr-0 justify-center">
          <a class="btn px-2 py-1 btn-w w-min h-min block"
            [routerLink]="['editar', item.codUsuario]"><i class="fas fa-sm fa-fw fa-pencil"></i></a>
          <a class="btn px-2 py-1 btn-d w-min h-min block"
            (click)="delete(item.codUsuario)"><i class="fas fa-sm fa-fw fa-trash"></i></a>
        </div>
      </td>
    </tr>
  </table>
</div>

<app-paginador [CantPaginas]="pgUsuarios.pages" [pagActual]="pgUsuarios.page" (cambioPagina)="cargar($event, filtros.controls.porPagina.value!)"></app-paginador>