<page-header icono="address-book" nombrePagina="Roles: {{(id != null) ? 'Editar' : 'Agregar'}}" [mostrarBtnAgregar]="false" />

<div class="flex min-h-full flex-col justify-center px-6 my-10 lg:px-8">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">

      <div class="card">
        <div>
          <label for="nombre" class="form-label">Nombre<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="nombre" type="text" (focusout)="trimFormValue('nombre')">
          <app-form-errors [control]="form.controls.nombre" />
        </div>

        <div>
          <label for="descripcion" class="form-label">Descripcion<span class="text-red-600 text-xl">*</span></label>
          <input formControlName="descripcion" type="text" (focusout)="trimFormValue('descripcion')">
          <app-form-errors [control]="form.controls.descripcion" />
        </div>

        <div>
          <label for="permisos" class="form-label">Permisos</label>
          <div class="card shadow-none bg-slate-200 dark:bg-gray-800 dark:border-b-gray-800 dark:shadow-none">
            <div class="flex" *ngFor="let item of form.controls.permisos.controls; index as i" formArrayName="permisos">
              <div [formGroupName]="i">
                <input formControlName="checked" [id]="i" type="checkbox" class="my-auto">
              </div>
              <label [for]="i" class="form-label ml-2">{{item.controls.permiso.value}}</label>
            </div>
          </div>
        </div>

      </div>

      <div class="flex grid-cols-2 gap-x-2">
        <button type="submit" [disabled]="enviandoDatos" class="btn-p hover:-translate-y-1 transition-all">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button type="button" class="btn-d hover:-translate-y-1 transition-all" routerLink="..">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>